{% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'danger'] %}
{% if session.flashbag is defined %}
    {% for alert in session.flashbag %}
        {% if alert.alertType in alertTypeAvaillable %}
            <div class="alert alert-{{ alert.alertType }} alert-dismissable">
                <i class="fa fa-check"></i>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <b>{{ alert.message }}</b>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}