<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <title>{% block title %}VK TestTask{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block head_javascripts %}{% endblock %}

    </head>
    <body{% block body_params %}{% endblock %}>
    <div class="wrapper">
        {% block body %}
            {% block header %}{% endblock %}
            {% block main_menu %}{% endblock %}
            {% block container %}{% endblock %}
            {% block footer %}{% endblock %}

        {% endblock %}
    </div>
        {% block javascripts %}{% endblock %}

    </body>
</html>
