{% extends 'Layout/backend.html.twig' %}
{% block menu %}
    {% include 'Layout/menu.html.twig' with {'option': 'new'} %}
{% endblock %}


{% block container %}
    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Изменение продукта ID: {{ item.iditem }}
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-success">
                        <div class="box-body">
                            {% include '/Form/item_type.html.twig' with {'action': action, 'item' : item } %}
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div><!-- ./wrapper -->

{% endblock %}