<div class="dataTables_wrapper form-inline dt-bootstrap">
    <table id="tablegrid" class="table table-bordered table-hover tablegrid">
        <thead>
        <tr>
            <th>Продукт ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Изображение</th>
            <th>Действия</th>
        </tr>
        </thead>
    </table>
</div>